POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database
PORT=8080

# Frontend API URLs (set to EC2 public IP for deployment)
NEXT_PUBLIC_NOTE_SERVICE_URL=http://localhost:8080
NEXT_PUBLIC_SEARCH_API_URL=http://localhost:8081
NEXT_PUBLIC_TAG_API_URL=http://localhost:8082
